{% extends "base_allauth.html" %}
{% load static %}
{% load tailwind_filters %}

{% block content %}
    <div class="w-1/4 h-screen mx-auto content-center">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="flex justify-center gap-2">
                <button type="submit" class="btn-submit">Submit</button>
                <a href="{% url "account_signup" %}?next={{ request.GET.next|urlencode }}" class="btn-signup">
                    Signup
                </a>
            </div>
        </form>
    </div>
{% endblock content %}