{% extends "base_allauth.html" %}
{% load static %}
{% load tailwind_filters %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            {% include "components/messages.html" %}
        {% endfor %}
    {% endif %}
    <div class="w-1/4 h-screen mx-auto content-center">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="text-center">
                <button type="submit" class="btn-submit rounded-full">Submit</button>
                <a href="{% url "account_signup" %}?next={{ request.GET.next|urlencode }}" class="btn-signup">
                    Signup
                </a>
            </div>
        </form>
    </div>
{% endblock content %}