{% extends "base_allauth.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load tailwind_filters %}
{% block style %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock style %}

{% block content %}
    <div class="w-1/4 h-screen mx-auto content-center">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="flex justify-center gap-2">
                <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 mt-4 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
                <a href="{% url "account_signup" %}" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 mt-4 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
                    Signup
                </a>
            </div>
        </form>
    </div>
{% endblock content %}