{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}
{% load tailwind_filters %}

{% block style %}
    <link rel="stylesheet" href="{% static 'dist/audition/audition_form.css' %}">
{% endblock style %}

{% block content %}
    <div class="w-7/12 h-full my-12 content-center mx-auto">
        <h1 class="text-4xl font-semibold text-center pb-5">Audition Form</h1>
        <form action="{% url "audition:form" %}" method="post" enctype="multipart/form-data" class="mt-5 border border-gray-400 pt-5 pb-2 px-6 bg-gray-100">
            {% csrf_token %}
            {% crispy form %}
        </form>
    </div>

    <script>
        // เพิ่ม attribute 'multiple' ให้กับ input
        document.addEventListener("DOMContentLoaded", function() {
            var imageInput = document.getElementById("id_image");
            if (imageInput) {
                imageInput.setAttribute("multiple", "");
            }
        });
    </script>
{% endblock content %}
