{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load tailwind_filters %}

{% block content %}
    <div class="h-full py-[5rem] content-center mx-auto bg-gray-200">
        <form action="{% url "audition:update" audition.id %}" method="post" enctype="multipart/form-data" class="mt-5 bg-white shadow pt-5 pb-2 px-6 w-1/2 mx-auto">
            <h1 class="text-4xl font-semibold pb-5 tracking-tight">Edit Audition Form</h1>
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn-submit rounded-full">
                Submit
            </button>
        </form>
    </div>
{% endblock content %}