{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load tailwind_filters %}

{% block style %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock style %}

{% block content %}
    <main class="w-4/5 mx-auto space-y-[2rem] pb-[5rem]">

        <section class="h-screen flex flex-col justify-center gap-y-[4rem]">
            <h1 class="text-4xl font-bold uppercase text-center tracking-tight mt-[2rem]">
                {{ audition.name }}
            </h1> 
            <div class="gap-x-[2rem] mx-auto overflow-hidden relative grid grid-cols-5">
                <div class="relative aspect-[3/2] mx-auto col-span-3">
                    <img 
                        src="https://images.unsplash.com/photo-1519682718457-c82ce8296645?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="concert hall" 
                        class="object-cover h-full w-full mx-auto active carousel-item inset-0 opacity-100 transition-opacity duration-1000 ease-in-out">
                    <img 
                        src="https://images.unsplash.com/photo-1531660963020-52ba84d92593?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="concert hall" 
                        class="object-cover h-full w-full mx-auto absolute carousel-item inset-0 opacity-100 transition-opacity duration-1000 ease-in-out">
                    <img 
                        src="https://images.unsplash.com/photo-1651606682103-6725b81d7edd?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="concert hall" 
                        class="object-cover h-full w-full mx-auto absolute carousel-item inset-0 opacity-100 transition-opacity duration-1000 ease-in-out">
                </div>
                <div class="col-span-2 p-[1rem] pt-0">
                    <h2 class="font-bold text-xl mb-[1rem]">Art Gallery Hall 미술관 홀</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt quidem aliquam quos, cum officiis maxime est hic unde quo possimus modi molestiae. Magnam, ducimus aperiam. Commodi quam dolor veniam cum dolore iure cupiditate consequatur soluta aliquam? Animi quae hic consectetur culpa dolorem impedit sequi, itaque recusandae excepturi, commodi accusamus ea?</p>
                    <p class="mt-[1rem] text-gray-700"><strong>Location:</strong> 123 Art Street, Seoul, South Korea</p>
                    <p class="mt-[1rem]">
                        <a href="https://www.google.com/maps?q=123+Art+Street,+Seoul,+South+Korea" target="_blank" class="text-blue-500 hover:underline">
                            View on Google Maps
                        </a>
                    </p>
                </div>
                
            </div>
        </section>

        <section class="grid grid-cols-2 gap-x-[3rem]">
            {% if audition.image %}
                <div class="col-span-1 overflow-hidden aspect-[0.8/1] gap-y-[1rem]">
                    <img src="{{ audition.image.url }}" class="object-contain w-full h-full object-top">
                </div>

                <!-- Poster Modal-->
                {% include "components/poster_modal.html" %}
            {% endif %}
            <div class="col-span-1 grid grid-cols-2 gap-[1rem]">
                <img class="bg-rose-100 aspect-[0.8/1]" src="https://cdn.imweb.me/thumbnail/20240926/4785672b42da1.jpg"></img>
                <img class="bg-rose-100 aspect-[0.8/1]" src="https://cdn.imweb.me/thumbnail/20240810/544bb8fa37d37.png"></img>
                <img class="bg-rose-100 aspect-[0.8/1]" src="https://cdn.imweb.me/thumbnail/20240623/aa71b245e3bb6.jpg"></img>
                <img class="bg-rose-100 aspect-[0.8/1]" src="https://cdn.imweb.me/thumbnail/20240515/ea24fca51aa75.jpg"></img>
            </div>
        </section>

        <!-- accordion -->
        <a 
            {% if not user.is_authenticated %}
                href="{% url 'account_login' %}?next={% url 'auditioner:form' audition.id %}"
            {% else %}
                id="accordion-collapse" 
                data-accordion="collapse"
            {% endif %}
            class="grid grid-cols-2 gap-x-[1rem] gap-y-[2rem]"
        >
            <h2 id="accordion-collapse-heading-1" class="col-span-1 gap-y-[1rem]">
                <button 
                    type="button"
                    data-accordion-target="#accordion-form" 
                    aria-expanded="false"
                    aria-controls="accordion-collapse-body-1"
                    class="flex justify-between items-center w-full gap-x-1 p-[1rem] rounded font-bold border bg-gray-200 hover:bg-gray-300 focus:ring-4 focus:ring-gray-200"
                >
                    <div class="flex-grow"></div>
                    <span>AUDITION FORM</span>
                    <div class="flex-grow mt-[1px]">
                        <svg class="size-5 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 7 4 4 4-4m-8 6 4 4 4-4"/>
                        </svg>
                    </div>
                </button>
            </h2>
            
            <!-- form -->
            <div 
                id="accordion-form" 
                aria-labelledby="accordion-collapse-heading-1" 
                class="hidden accordion-content transition-all duration-500 ease-in-out col-span-4"
            >
                <form method="post" enctype="multipart/form-data" class="pt-5 pb-2">
                    {% csrf_token %}
                    {{ form|crispy }} <br>
                    <p><strong>Audition Registration Fee:</strong>&nbsp;{{ audition.fee }} Bath</p>
                    <img class="mt-[1rem] w-1/3 h-auto" 
                        src="https://lh7-us.googleusercontent.com/tE_P9qKIIm_auJ5DbdkzQfjdQW0qUsO8ASSmpcnVmqhNI0C0bQzs7As1MBeOPCQG8fUnfFpKytoDJeIIeazhilh8n1qDtUfjSHgSgLx7owDRW0FdMMT7OziYlV7Q44zOlqO4bso4Spn3_pmBUMqlzlBf1HL5Mw" 
                        alt="qrcode for payment"
                    >
                    <div class="flex justify-center items-center mt-10">
                        <button 
                            type="submit" 
                            class="w-1/3 my-5 mx-auto text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-bold rounded-lg text-md px-5 py-2.5"
                        >
                            Submit 
                        </button>
                    </div>
                </form>
            </div>
        </a>

    </main>
{% endblock content %}
{% block script %}
    <script>
        var name = "{{ audition.id }}";
        document.getElementById('audition_id').value = name;
        var name = "{{ request.user.id }}";
        document.getElementById('user_id').value = name;
    </script>
    <script>
        let currentIndex = 0;
        const slides = document.getElementsByClassName('carousel-item');
        const totalSlides = slides.length;

        function showSlide(index) {
            for (let i = 0; i < totalSlides; i++) {
                slides[i].classList.remove('opacity-100');
                slides[i].classList.add('opacity-0');
            }
            slides[index].classList.remove('opacity-0');
            slides[index].classList.add('opacity-100');
        }

        function nextSlide() {
            currentIndex = (currentIndex + 1) % totalSlides;
            showSlide(currentIndex);
        }

        function startCarousel() {
            showSlide(currentIndex);
            setInterval(nextSlide, 7000);
        }

        window.onload = startCarousel;
    </script>
{% endblock script %}