{% extends "base.html" %}

{% block content %}
    <div class="w-8/12 h-full my-12 content-center mx-auto">
        <h1 class="text-4xl font-semibold text-center">
            All Auditioners
        </h1>
        <div class="relative overflow-x-auto mt-10">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 border">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400 border-b">
                    <tr>
                        <th scope="col" class="py-3 text-center">
                            No.
                        </th>
                        <th scope="col" class="ps-3 py-3">
                            Events
                        </th>
                        <th scope="col" class="ps-3 py-3">
                            name
                        </th>
                        <th scope="col" class="py-3 text-center">
                            Nationality
                        </th>
                        <th scope="col" class="py-3 text-center">
                            Age (year)
                        </th>
                        <th scope="col" class="py-3 text-center">
                            Instrument
                        </th>
                        <th scope="col" class="pe-6 py-3 text-center border-e">
                            Avg.
                        </th>
                    </tr>
                </thead>
                {% for auditioner in auditioners %}
                    <tbody>
                        <tr class="bg-white font-medium border-b dark:bg-gray-800 dark:border-gray-700">
                            <td class="px-6 py-2 text-center" onclick="location.href='{% url "auditioner:detail" auditioner.id %}'">
                                {{ forloop.counter }}
                            </td>
                            <td>
                                <div 
                                    class="ps-3 py-2 hover:bg-gray-50 cursor-pointer capitalize" 
                                    onclick="location.href='{% url "auditioner:list" auditioner.audition.id %}'"
                                    data-tooltip-target="tooptip-{{ auditioner.id }}">
                                    {{ auditioner.audition.name|truncatewords_html:3 }}
                                </div>
                                {% if auditioner.word_number > 3 %}
                                    <div id="tooptip-{{ auditioner.id }}" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:text-gray-800 dark:bg-gray-50">
                                        {{ auditioner.audition }}
                                        <div class="tooltip-arrow" data-popper-arrow></div>
                                    </div>
                                {% endif %}
                            </td>
                            <td class="ps-3 py-2 hover:bg-gray-50 cursor-pointer capitalize" onclick="location.href='{% url "auditioner:detail" auditioner.id %}'">
                                {{ auditioner.name }}
                            </td>
                            <td class="py-2 text-center">
                                {{ auditioner.nationality|capfirst }}
                            </td>
                            <td class="py-2 text-center ">
                                {{ auditioner.calculate_age }}
                            </td>
                            <td class="py-2 text-center">
                                {{ auditioner.instrument|capfirst }}
                            </td>
                            <td class="pe-6 py-2 text-center">
                                {% if auditioner.score.average %}
                                    {{ auditioner.score.average|floatformat:2 }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            {% if user.is_staff %}
                                <td class="py-2 text-center gap-1 hover:bg-gray-100 text-red-500 border-s cursor-pointer" data-modal-target="popup-modal" data-modal-toggle="popup-modal">
                                    Delete
                                </td>

                                <!-- Delete Popup Modal -->
                                <div id="popup-modal" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                                    <div class="relative p-4 w-full max-w-md max-h-full">
                                        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                                            <button type="button" class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="popup-modal">
                                                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                                </svg>
                                                <span class="sr-only">Close modal</span>
                                            </button>
                                            <div class="p-4 md:p-5 text-center">
                                                <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                                                </svg>
                                                <h3 class="mb-2 text-lg font-normal text-gray-500 dark:text-gray-400">Are you sure you want to delete</h3>
                                                <h3 class="mb-5 text-lg font-bold text-gray-500 dark:text-gray-400">{{ auditioner.name }}?</h3>
                                                <button data-modal-hide="popup-modal" type="button" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center"  onclick="location.href='{% url "auditioner:delete" auditioner.id %}'">
                                                    Yes, I'm sure
                                                </button>
                                                <button data-modal-hide="popup-modal" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">No, cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
    
{% endblock content %}