{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load tailwind_filters %}

{% block content %}
    <main class="w-4/5 mx-auto space-y-[2rem]">
        <main class="">

            <section class="h-screen flex flex-col justify-center gap-y-[4rem]">
                <h1 class="text-4xl font-bold uppercase text-center tracking-tight">
                    {{ audition.name }}
                </h1> 
                <div class="gap-x-[2rem] mx-auto overflow-hidden relative grid grid-cols-5">
                    <div class="relative aspect-[3/2] mx-auto col-span-3 bg-black">
                        <img 
                            src="https://scontent.fbkk22-8.fna.fbcdn.net/v/t39.30808-6/466492904_122164638338053701_889847483162013726_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeEUxwEd8Ig0NJoj34GVwfboQgA40MNPoHdCADjQw0-gd7qTkr_deUL9qtS0SkiZAiWSfU3Rc9flKWGAlHp3kBJc&_nc_ohc=i0qA6Ydyxe4Q7kNvgGZVXnV&_nc_zt=23&_nc_ht=scontent.fbkk22-8.fna&_nc_gid=AwOpyZ9z0MeVR3dgX7oCAG3&oh=00_AYBYSB9DtDjIQWzHr836yFrPDQ0GjYleJdzgyx736kf-QQ&oe=673975CA" alt="concert hall" 
                            class="object-contain h-full w-full mx-auto active carousel-item inset-0 opacity-100 transition-opacity duration-1000 ease-in-out">
                        <img 
                            src="https://images.unsplash.com/photo-1531660963020-52ba84d92593?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="concert hall" 
                            class="object-contain h-full w-full mx-auto absolute carousel-item inset-0 opacity-100 transition-opacity duration-1000 ease-in-out">
                        <img 
                            src="https://images.unsplash.com/photo-1651606682103-6725b81d7edd?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="concert hall" 
                            class="object-contain h-full w-full mx-auto absolute carousel-item inset-0 opacity-100 transition-opacity duration-1000 ease-in-out">
                    </div>
                    <div class="col-span-2 p-[1rem] pt-0">
                        <h2 class="font-bold text-xl mb-[1rem]">{{ audition.hall.name }}</h2>
                        <p>{{ audition.hall.detail }}</p>
                        <p class="mt-[1rem] text-gray-700"><strong>Location:</strong> {{ audition.hall.location }}</p>
                        <p class="mt-[1rem]">
                            <a href="{{ audition.hall.location_link }}" target="_blank" class="text-blue-500 hover:underline">
                                View on Google Maps
                            </a>
                        </p>
                    </div>
                </div>
            </section>
    
            <div class="flex items-start">
                <!-- poster section -->
                <div class="w-3/5">
                    <div class="gap-y-[0.5rem] pb-[2rem] w-full">
                        <img src="{{ audition.poster.url }}" class="object-contain object-top aspect-[0.8/1]">
                    </div>
                    <!-- accordion -->
                    <a 
                        {% if not user.is_authenticated %}
                            href="{% url 'account_login' %}?next={% url 'auditioner:form' audition.id %}"
                        {% else %}
                            id="accordion-collapse" 
                            data-accordion="collapse"
                        {% endif %}
                        class="gap-x-[1rem] gap-y-[2rem]"
                    >
                        <div id="accordion-collapse-heading-1" class="w-full gap-y-[1rem]">
                            <button 
                                type="button"
                                data-accordion-target="#accordion-form" 
                                aria-expanded="true"
                                aria-controls="accordion-collapse-body-1"
                                class="flex justify-between items-center w-full gap-x-1 p-[1rem] rounded font-bold border bg-gray-200 hover:bg-gray-300 focus:ring-4 focus:ring-gray-200"
                            >
                                <div class="flex-grow"></div>
                                <span>AUDITION FORM</span>
                                <div class="flex-grow mt-[1px]">
                                    <svg class="size-5 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 7 4 4 4-4m-8 6 4 4 4-4"/>
                                    </svg>
                                </div>
                            </button>
                        </div>
                        
                        <!-- form -->
                        <section id="accordion-form" aria-labelledby="accordion-collapse-heading-1" class="hidden accordion-content col-span-4">
                            {% include "performer/auditioners/widgets/auditioner-form.html" %}
                        </section>
                    </a>
                    
                    {% include "components/poster_modal.html" %}
                </div>
                    
                    <!-- Related Poster -->
                <section class="w-2/5 px-[2.5rem] sticky top-0">
                    <h4 class="text-xl text-center font-extrabold mb-[2.5rem] underline">Interesting contest</h4>
                    <div class="grid grid-cols-2 gap-x-4 gap-y-[2rem]">
                        {% for related_poster in related_posters %}
                            <div>
                                <img class="bg-rose-100 aspect-[0.8/1]" src="/media/{{ related_poster.poster }}"></img>
                                <h4 class="tracking-tighter px-2">{{ related_poster.name }}</h4>
                            </div>
                        {% endfor %}
                    </div>
                </section>
            </div>
        </main>
    </main>
{% endblock content %}
{% block script %}
    <script>
        var name = "{{ audition.id }}";
        document.getElementById('audition_id').value = name;
        var name = "{{ request.user.id }}";
        document.getElementById('user_id').value = name;
    </script>
    <script>
        let currentIndex = 0;
        const slides = document.getElementsByClassName('carousel-item');
        const totalSlides = slides.length;

        function showSlide(index) {
            for (let i = 0; i < totalSlides; i++) {
                slides[i].classList.remove('opacity-100');
                slides[i].classList.add('opacity-0');
            }
            slides[index].classList.remove('opacity-0');
            slides[index].classList.add('opacity-100');
        }

        function nextSlide() {
            currentIndex = (currentIndex + 1) % totalSlides;
            showSlide(currentIndex);
        }

        function startCarousel() {
            showSlide(currentIndex);
            setInterval(nextSlide, 7000);
        }

        window.onload = startCarousel;
    </script>
{% endblock script %}