

#div_id_cpr_permission, #div_id_practice_room, #div_id_cpr{
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

#div_id_cpr_permission > label, #div_id_practice_room > label, #div_id_cpr > label{
    margin-top: 8px;
}

#div_id_regis_confirm{
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

#div_id_regis_confirm > label{
    margin-top: 8px;
}

#div_id_remember{
    display: none;
}

.no-float {
    clear: both;
}