.asteriskField {
    display: none;
}

#div_id_cpr_permission, #div_id_practice_room{
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

#div_id_cpr_permission > label, #div_id_practice_room > label{
    margin-top: 8px;
}

#div_id_regis_confirm{
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

#div_id_regis_confirm > label{
    margin-top: 8px;
}

#div_id_remember{
    display: none;
}

/* remove text => "No File Chosen */
input[type='file'] {
    color: transparent;
}
