{% extends "base.html" %}
{% load static %}
{% load static embed_video_tags %}
{% load crispy_forms_tags %}
{% load tailwind_filters %}

{% block style %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock style %}

{% block content %}
<!-- parent container -->
<div class="py-8 px-4 mx-auto text-center lg:py-16 lg:px-12">
    <!-- wrapper video & form -->
    <div class="w-2/3 mx-auto flex">
        <!-- video container -->
        <div class="flex flex-col items-center w-1/2">
            {% if score.participant.shorts_url %}
                <div class="overflow-hidden">{% video score.participant.shorts_url "338x600" %}</div>
            {% endif %}
        </div>
        <!-- form container -->
        <form class="border border-gray-500 w-1/2 px-8 flex flex-col justify-around" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="flex flex-col gap-1 border border-gray-500">
                <legend class="text-start font-medium text-xs ms-[1%]">Participant Name</legend>
                <p class="pb-2 pt-0.5 font-medium text-base">{{ score.participant.name }}</p>
            </fieldset>
            {% crispy form %}
        </form>
    </div>
</div>
   
{% endblock content %}
{% block script %}
    <script>
        var name = "{{ score.participant.id }}";
        document.getElementById('participant_id').value = name;
    </script>
{% endblock script %}