<ul class="flex border-b border-slate-400">
    <li class="-mb-px mr-1">
        <a class="{% if request.path != '/' %} border-none text-gray-300 {% else %} text-blue-500 {% endif %} bg-white border-slate-400 inline-block border-l border-t border-r rounded-t py-2 px-4 text-blue-700 font-semibold" href="{% url "home" %}">Overview</a>
    </li>
    <li class="-mb-px mr-1">
        <a class="{% if '/audition/' not in request.path %} border-none text-gray-300 {% else %} text-blue-500 {% endif %} bg-white inline-block py-2 px-4 text-blue-500 hover:text-blue-500 font-semibold border-slate-400 inline-block border-l border-t border-r rounded-t" href="{% url "audition:list" %}">Audition</a>
    </li>
    <li class="-mb-px mr-1">
        <a class="{% if '/participation/' not in request.path %} border-none text-gray-300 {% else %} text-blue-500  {% endif %} bg-white inline-block py-2 px-4 hover:text-blue-500 font-semibold border-slate-400 inline-block border-l border-t border-r rounded-t" href="{% url "participation:list" %}">Participations</a>
    </li>
</ul>