{% extends "base.html" %}

{% block content %}
    <div class="w-8/12 h-screen mx-auto my-12">
        <div class="w-full mx-auto mt-10 border border-gray-400 p-10">
            <div class="flex gap-4">
                
                <div class="wrapper w-full flex flex-col justify-center gap-5">
                    <div class="flex items-center w-full border border-gray-400">
                        <p class="text-center text-md font-semibold bg-gray-100 w-2/12 py-0.5 border-e border-gray-400">Name</p>
                        <p class="text-md font-semibold px-4 border-gray-950 w-10/12 py-0.5">&nbsp;{{ participant.name|capfirst }}</p>
                    </div>
                    <div class="flex items-center w-full border border-gray-400">
                        <p class="text-center text-md font-semibold bg-gray-100 w-2/12 py-0.5 border-e border-gray-400">Nationality</p>
                        <p class="text-md font-semibold px-4 border-gray-950 w-10/12 py-0.5">&nbsp;{{ participant.nationality|capfirst }}</p>
                    </div>
                    <div class="flex items-center w-full border border-gray-400">
                        <p class="text-center text-md font-semibold bg-gray-100 w-2/12 py-0.5 border-e border-gray-400">Competition</p>
                        <p class="text-md font-semibold px-4 border-gray-950 w-10/12 py-0.5">&nbsp;{{ participant.competition.name|capfirst }}</p>
                    </div>
                </div>
                {% if participant.image %}
                    <img src="{{ participant.image.crop.130x150 }}" class="border border-gray-200">
                {% endif %}
            </div>
            <div class="mt-6 flex items-center gap-5">
                <div class="flex tems-center w-7/12 border border-gray-400">
                    <p class="text-center text-md font-semibold bg-gray-100 w-3/12 py-0.5 border-e border-gray-400">Birthdate</p>
                    <p class="text-md font-semibold px-4 w-9/12 py-0.5">&nbsp;{{ participant.birthdate|date:"j F Y" }}</p>
                </div>
                <div class="flex tems-center w-5/12 border border-gray-400">
                    <p class="text-center text-md font-semibold bg-gray-100 w-4/12 py-0.5 border-e border-gray-400">Age</p>
                    <p class="text-md font-semibold px-4 w-9/12 py-0.5">&nbsp;{{ participant.calculate_age }} year</p>
                </div>
            </div>
            <div class="mt-6 flex items-center gap-5">
                <div class="flex tems-center w-7/12 border border-gray-400">
                    <p class="text-center text-md font-semibold bg-gray-100 w-3/12 py-0.5 border-e border-gray-400">School</p>
                    <p class="text-md font-semibold px-4 w-9/12 py-0.5">&nbsp;{{ participant.school|capfirst }}</p>
                </div>
                <div class="flex tems-center w-5/12 border border-gray-400">
                    <p class="text-center text-md font-semibold bg-gray-100 w-4/12 py-0.5 border-e border-gray-400">Grade</p>
                    <p class="text-md font-semibold px-4 w-9/12 py-0.5">&nbsp;{{ participant.grade }}</p>
                </div>
            </div>
            <div class="mt-6 flex items-center gap-5">
                <div class="flex tems-center w-7/12 border border-gray-400">
                    <p class="text-center text-md font-semibold bg-gray-100 w-3/12 py-0.5 border-e border-gray-400">Song</p>
                    <p class="text-md font-semibold px-4 w-9/12 py-0.5">&nbsp;{{ participant.song|capfirst }}</p>
                </div>
                <div class="flex tems-center w-5/12 border border-gray-400">
                    <p class="text-center text-md font-semibold bg-gray-100 w-4/12 py-0.5 border-e border-gray-400">Instrument</p>
                    <p class="text-md font-semibold px-4 w-9/12 py-0.5">&nbsp;{{ participant.instrument|capfirst }}</p>
                </div>
            </div>
            <div class="mt-6 flex items-center gap-5">
                <div class="flex tems-center w-7/12 border border-gray-400">
                    <p class="text-center text-md font-semibold bg-gray-100 w-3/12 py-0.5 border-e border-gray-400">Email</p>
                    <p class="text-md font-semibold px-4 w-9/12 py-0.5">&nbsp;{{ participant.email|lower }}</p>
                </div>
                <div class="flex tems-center w-5/12 border border-gray-400">
                    <p class="text-center text-md font-semibold bg-gray-100 w-4/12 py-0.5 border-e border-gray-400">Phone</p>
                    <p class="text-md font-semibold px-4 w-9/12 py-0.5">&nbsp;{{ participant.phone }}</p>
                </div>
            </div>
            <div class="mt-6 flex items-center border border-gray-400">
                <p class="text-center text-md font-semibold bg-gray-100 w-3/12 py-0.5 border-e border-gray-400">Copyright Permission</p>
                <p class="text-md px-4 w-9/12 py-0.5">
                    {% if participant.cpr_permission %}
                    <svg class="w-5.5 h-5.5 text-green-400 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                        <path fill-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm13.707-1.293a1 1 0 0 0-1.414-1.414L11 12.586l-1.793-1.793a1 1 0 0 0-1.414 1.414l2.5 2.5a1 1 0 0 0 1.414 0l4-4Z" clip-rule="evenodd"/>
                    </svg>
                    {% else %}
                    <svg class="w-5.5 h-5.5 text-red-500 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                        <path fill-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm7.707-3.707a1 1 0 0 0-1.414 1.414L10.586 12l-2.293 2.293a1 1 0 1 0 1.414 1.414L12 13.414l2.293 2.293a1 1 0 0 0 1.414-1.414L13.414 12l2.293-2.293a1 1 0 0 0-1.414-1.414L12 10.586 9.707 8.293Z" clip-rule="evenodd"/>
                    </svg>
                    {% endif %}
                </p>
            </div>
            <div class="mt-6 flex items-center border border-gray-400">
                <p class="text-center text-md font-semibold bg-gray-100 w-3/12 py-0.5 border-e border-gray-400">Registration Confirmation</p>
                <p class="text-md px-4 w-9/12 py-0.5">
                    {% if participant.regis_confirm %}
                    <svg class="w-5.5 h-5.5 text-green-400 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                        <path fill-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm13.707-1.293a1 1 0 0 0-1.414-1.414L11 12.586l-1.793-1.793a1 1 0 0 0-1.414 1.414l2.5 2.5a1 1 0 0 0 1.414 0l4-4Z" clip-rule="evenodd"/>
                    </svg>
                    {% else %}
                    <svg class="w-5.5 h-5.5 text-red-500 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                        <path fill-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm7.707-3.707a1 1 0 0 0-1.414 1.414L10.586 12l-2.293 2.293a1 1 0 1 0 1.414 1.414L12 13.414l2.293 2.293a1 1 0 0 0 1.414-1.414L13.414 12l2.293-2.293a1 1 0 0 0-1.414-1.414L12 10.586 9.707 8.293Z" clip-rule="evenodd"/>
                    </svg>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
{% endblock content %}